body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 26px;
	color: #333;
}
h3 {
	font-size: 20px;
	font-weight: 300;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
	font-weight: 300;
}
h5 {
	text-transform: uppercase;
	font-weight: 300;
	line-height: 20px;
}
p {
	font-size: 16px;
}
a {
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #ccc;
}
*:focus {
    outline: 0 !important;
}
.elits {
	background: #dfdfdf;
	margin: 90px 0px 20px 0px;
}
.navbar {
	margin-bottom: 0px;
}
.nav-tabs {
	display: inline-block;
	border-bottom: none;
	padding-top: 15px;
	font-weight: bold;
}
.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	border: none;
	border-radius: 0;
}
.nav-list {
	margin: 30px auto 15px;
}
.nav-list h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 28px;
	color: #000;
}
.mega-dropdown {
	position: static !important;
}
.mega-dropdown-menu {
	padding: 20px 15px 15px;
	text-align: center;
	width: 100%;
}
/* Navigation */
#menu {
	transition: all 0.8s;
}
#menu.navbar-default {
	background: transparent !important;
	border: none;
}
#menu a.navbar-brand {
	font-size: 26px;
	font-weight: 700;
	color: #333;
	padding: 30px 0px 30px;
	text-transform: uppercase;
	letter-spacing: -1.2px !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#menu a.logo {
	font-size: 34px;
	color: #fff;
	margin-left: -15px;
	padding: 16px 0px 16px;
	text-transform: uppercase;
	letter-spacing: -1.2px !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	display: block;
	height: 27px;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 36px 0px 12px;
	border-radius: 0;
	text-transform: uppercase;
	margin: 0px 10px 0px 10px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
#menu.navbar-default .navbar-nav > li.active > a {
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#menu.navbar-default .navbar-nav li a.act {
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#menu.navbar-default .navbar-nav li a.act, #menu.navbar-default .navbar-nav li a.is-active {
	border-bottom: 2px solid #fff;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#menu.navbar-default .navbar-nav .menu.dropdown-menu li a.is-active {
	border-bottom: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	color: #75b8ed;
}
#menu.navbar-default > .navbar-nav > .dropdown.mega-dropdown.open {
	background: red;
}
.menu.nav.navbar-nav {
    float: right !important;
    margin-right: -15px;
}
.navbar-btn {
	margin-top: 0px;
	margin-bottom: 0px;
}
#navbar-header-top {
    height: 30px;
    width: 100%;
    overflow: hidden;
    background: rgba(16, 39, 65, 0.8);
    text-transform: uppercase;	
    text-align: left;
    color: #fff;
    display:block;
}
.fp-grid .btn-group {
	margin:0px;
	padding: 0px;
	display: block !important;
	width: 100% !important;
}
.fp-grid .btn-group button:focus {
	background: #b1d6f3;
	color: #000;
}
.fp-grid .btn-group:hover button:focus {
	color: #000;
	background: #b1d6f3;	
	padding: 9px 15px;	
}
.fp-grid .btn-group button {
	display:block;
	padding: 9px 15px;
	font-size: 14px;
	font-weight: 400;
	border: none;
	border-radius: 0px;
	margin: 0px 0px 2px 0px;
	color: #000;
	background: #f1f1f1;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.fp-grid .btn-group button.active {
	color: #000;
	background: #e2e2e2;
	box-shadow: none;
	padding: 9px 15px;	
}
.fp-grid .btn-group:hover button {
	background: #e2e2e2;
	color: #000;
	padding: 9px 18px;
	cursor: pointer;
}
.grid-item a img {
	background: #b1d6f3;
	margin-bottom: 40px;
	border: 6px solid #b1d6f3;
}
.fp-gal {
	padding-bottom: 30px;
}
.fp-sub #menu.navbar-default, .path-node #menu.navbar-default, .path-feedback #menu.navbar-default {
	background: rgba(16, 39, 65, 0.9) !important;
	transition: background-color 1000ms ease-in;
}
.path-node #menu a.logo, .path-feedback #menu a.logo {
	padding: 6px 0px 6px;
}
.path-node #menu.navbar-default .navbar-nav > li > a, .path-feedback #menu.navbar-default .navbar-nav > li > a {
	padding: 24px 0px 20px;
}
.fp-sub #menu a.navbar-brand {
    padding: 20px 0px;
    height: 66px;
}
.fp-sub #menu.navbar-default .navbar-nav > li > a {
    padding: 24px 0px 20px;
}
.fp-grid .btn {
	width:100%; 
	text-align: left;
}
.fp-map {
	background: #dfdfdf;
	margin: 0px 0px 0px 0px;
}
.fp-cont-wg {
	padding: 0px 0px 30px 0px;
}
.fp-cont-wg h2 {
	font-size: 20px !important;
	font-weight: 400 !important;
	margin: 0px !important;
	padding: 0px 0px 10px 0px !important;
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel-default>.panel-heading a {
  display: block;
  padding: 12px 25px;
}
.panel-body {
    padding: 20px 25px;
}
.panel-group .panel {
    margin-bottom: 20px;
    border-radius: 0px;
}
.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}
.panel-default>.panel-heading a[aria-expanded="true"] {
	background-color: #1f3853;
	color: #fff;
}
.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}
.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}
.accordion-option .toggle-accordion {
  float: right;
  font-size: 14px;
}
.accordion-option .toggle-accordion:before {
  content: "Expand All";
}
.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}
.input-lg {
    height: 42px;
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.3333333;
}
input[type=file].form-control {
	height: auto !important;
}
#form-upload {
	padding: 0px 20px;
}
.navbar-header-top-info p {
	color: #fff;
    font-size: 12px;
    line-height: 36px;	
}
.navbar-header-top-info a {
	color: #b1d6f3;
}
#navbar-header-top .close {
    float: right;
    font-size: 14px;
	font-weight: normal;
    line-height: 34px;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=70);
    opacity: .7;
}
#navbar-header-top .close:hover {
    filter: alpha(opacity=100);
    opacity: 1;	
}
.navbar-fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
	margin-top: 22px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #555;
	background-color: transparent !important;
}
.navbar-default > .dropdown.mega-dropdown.active {
	background: rgba(27, 74, 120, 0.8) !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: black;
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
    background: rgba(16, 39, 65, 0.9);
    padding: 20px 15px 15px;
}
.dropdown-menu .container {
	padding-top: 10px;	
	padding-bottom: 10px;
	margin: 0px auto;
	display: block;
}
.dropdown-menu .container .proc-list-cont {
	width: 25% !important;
}
ul.proc-list {
	padding-right: 15px;
	padding-right: 15px;	
}
ul.proc-list li {
	padding: 0px 0px 5px 0px;
	font-size: 15px;
}
ul.proc-list li a {
	padding-left: 10px;
}
ul.proc-list li:before {
	font-family: FontAwesome;
	content: "\f054";
	font-size: 12px;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
	line-height: 140%;
	color: #fff;
}
ul.proc-list li:hover:before {
	padding-left: 2px;
}
.navbar-nav > li > .dropdown-menu h3 {
	font-size: 14px;
	font-weight: 300;
}
.navbar-nav > li > .dropdown-menu a {
	color: #fff;
	text-transform: uppercase;
}
.navbar-nav > li > .dropdown-menu a:hover, .navbar-nav > li > .dropdown-menu a:focus, .navbar-nav > li > .dropdown-menu a:active {
	background: transparent;
}
.nav { margin-bottom: 0; }
.nav > li.dropdown.open { position: static; }
.nav > li.dropdown.open .dropdown-menu {display:block; width: 100%;  }
.dropdown-menu>li { display: block; }
.dropdown-menu a img {
	margin-bottom: 10px;
}
#proc {
    padding: 0px 0px 2px !important;
}
.prod-list {
	padding: 20px 0px !important;
}
#section2 .proc.spt {
    padding: 30px 20px 40px !important;
    width: 97%;
}
body.fp-viewing-sections2 nav#menu, body.fp-viewing-sections3 nav#menu, body.fp-viewing-sections4 nav#menu, body.fp-viewing-sections5 nav#menu, body.fp-viewing-sections6-0 nav#menu, body.fp-viewing-sections7-0 nav#menu, body.fp-viewing-sections8 nav#menu, body.fp-viewing-sections9 nav#menu {
	background: rgba(16, 39, 65, 0.9) !important;
	transition: background-color 1000ms ease-in;
}
body.fp-viewing-sections2 #menu a.logo, body.fp-viewing-sections3 #menu a.logo, body.fp-viewing-sections4 #menu a.logo, body.fp-viewing-sections5 #menu a.logo, body.fp-viewing-sections6-0 #menu a.logo, body.fp-viewing-sections7-0 #menu a.logo, body.fp-viewing-sections8 #menu a.logo, body.fp-viewing-sections9 #menu a.logo {	
	padding: 6px 0px 6px; 
}
body.fp-viewing-sections2 #menu a.navbar-brand, body.fp-viewing-sections3 #menu a.navbar-brand, body.fp-viewing-sections4 #menu a.navbar-brand, body.fp-viewing-sections5 #menu a.navbar-brand, body.fp-viewing-sections6-0 #menu a.navbar-brand, body.fp-viewing-sections7-0 #menu a.navbar-brand, body.fp-viewing-sections8 #menu a.navbar-brand, body.fp-viewing-sections9 #menu a.navbar-brand {
	padding: 20px 0px;
	height: 66px;
}
body.fp-viewing-sections2 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections3 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections4 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections5 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections6-0 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections7-0 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections8 #menu.navbar-default .navbar-nav > li > a, body.fp-viewing-sections9 #menu.navbar-default .navbar-nav > li > a {
	padding: 24px 0px 20px;
}
body.fp-viewing-sections3 #fp-nav ul li a.active span, body.fp-viewing-sections3 .fp-slidesNav ul li a.active span, body.fp-viewing-sections3 #fp-nav ul li:hover a.active span, body.fp-viewing-sections3 .fp-slidesNav ul li:hover a.active span, body.fp-viewing-sections5 #fp-nav ul li a.active span, body.fp-viewing-sections5 .fp-slidesNav ul li a.active span, body.fp-viewing-sections5 #fp-nav ul li:hover a.active span, body.fp-viewing-sections5 .fp-slidesNav ul li:hover a.active span, body.fp-viewing-sections7-0 #fp-nav ul li a.active span, body.fp-viewing-sections7-0 .fp-slidesNav ul li a.active span, body.fp-viewing-sections7-0 #fp-nav ul li:hover a.active span, body.fp-viewing-sections7-0 .fp-slidesNav ul li:hover a.active span, body.fp-viewing-sections6 #fp-nav ul li a.active span, body.fp-viewing-sections6 .fp-slidesNav ul li a.active span, body.fp-viewing-sections6 #fp-nav ul li:hover a.active span, body.fp-viewing-sections6 .fp-slidesNav ul li:hover a.active span, body.fp-viewing-sections9 #fp-nav ul li a.active span, body.fp-viewing-sections9 .fp-slidesNav ul li a.active span, body.fp-viewing-sections9 #fp-nav ul li:hover a.active span, body.fp-viewing-sections9 .fp-slidesNav ul li:hover a.active span {
	background: #273c54;
}
body.fp-viewing-sections3 #fp-nav ul li a span, body.fp-viewing-sections3 .fp-slidesNav ul li a span, body.fp-viewing-sections5 #fp-nav ul li a span, body.fp-viewing-sections5 .fp-slidesNav ul li a span, body.fp-viewing-sections7-0 #fp-nav ul li a span, body.fp-viewing-sections7-0 .fp-slidesNav ul li a span, body.fp-viewing-sections9 #fp-nav ul li a span, body.fp-viewing-sections9 .fp-slidesNav ul li a span {
	border: 2px solid #273c54;
}
html.fp-enabled, .fp-enabled body {
	margin: 0;
	padding: 0;
	overflow:hidden;
	/*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#superContainer {
	height: 100%;
	position: relative;
	/* Touch detection for Windows 8 */
    -ms-touch-action: none;
	/* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
	position: relative;
	-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
	-moz-box-sizing: border-box; /* <=28 */
	box-sizing: border-box;
}
.fp-slide {
	float: left;
}
.fp-slide, .fp-slidesContainer {
	height: 100%;
	display: block;
}
.fp-slides {
	z-index:1;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
	display: table;
	table-layout:fixed;
	width: 100%;
}
.fp-tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}
.fp-slidesContainer {
	float: left;
	position: relative;
}
.fp-controlArrow {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
	-moz-user-select: none; /* mozilla browsers */
	-khtml-user-select: none; /* webkit (konqueror) browsers */
	-ms-user-select: none; /* IE10+ */
	position: absolute;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
	overflow: hidden;
	position: relative;
}
.fp-scroller {
	overflow: hidden;
}
.iScrollIndicator {
	border: 0 !important;
}
.fp-notransition {
	-webkit-transition: none !important;
	transition: none !important;
}
#fp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.right {
	right: 17px;
}
#fp-nav.left {
	left: 17px;
}
.fp-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.fp-slidesNav.bottom {
	bottom: 17px;
}
.fp-slidesNav.top {
	top: 17px;
}
#fp-nav ul, .fp-slidesNav ul {
	margin: 0;
	padding: 0;
}
#fp-nav ul li, .fp-slidesNav ul li {
	display: block;
    width: 14px;
    height: 14px;
    margin: 6px;
	position:relative;
}
.fp-slidesNav ul li {
	display: inline-block;
}
#fp-nav ul li a, .fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
	height: 12px;
	width: 12px;
	background: #fff;
	margin: -2px 0 0 -2px;
	border-radius: 100%;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 12px;
	width: 12px;
	border: 0;
	background: none;
	border: 2px solid #fff;
	left: 50%;
	top: 50%;
	margin: -2px 0 0 -2px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span, .fp-slidesNav ul li:hover a span {
	width: 12px;
	height: 12px;
	margin: -2px 0px 0px -2px;
}
#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0;
	cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	width: auto;
	opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
	right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
	left: 20px;
}
.fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
	height: auto !important;
}
.fp-responsive .fp-auto-height-responsive.fp-section, .fp-responsive .fp-auto-height-responsive .fp-slide, .fp-responsive .fp-auto-height-responsive .fp-tableCell {
	height: auto !important;
}
.owl-theme .owl-controls .owl-page span {
    background: transparent;
    width: 12px;
    height: 12px;
    margin: 2px;  
    filter: 1;
    opacity: 1;        
    border: 2px solid #273c54;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px;
    filter: 1;
    opacity: 1;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #273c54;
}
.news-content {
	padding-top: 12px
}
#section-main {
	background: #e0e3ec url('../images/banners/banner_1.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 300px auto;
	position: relative;
	-webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
	-moz-box-sizing: border-box; /* <=28 */
	box-sizing: border-box;
}
#section1 {
	background: #e0e3ec url('../images/banners/banner_1.jpg');
	background-size:cover;
	background-attachment: fixed;
}
#section1 h1 {
	font-size: 42px;
	color: #fff;
	font-weight: 300;
	line-height: 110%;
	letter-spacing: -1.2px;
	padding: 40px 0px 0px;
}
#section1 h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color: #333;
}
#section1 .title {
	padding: 10px;
}
#section2 {
	background: #e0e3ec url('../images/banners/banner_2.jpg');
	background-size:cover;
	background-attachment: fixed;
}
#section2 h1 {
	font-size: 46px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
#section2 h2 {
	text-transform: capitalize;
	margin: -4px 0 24px 0;
	font-weight: 300;
	font-size: 34px;
	color: #333;
}
#section2 .title {
	padding: 10px;
}
#section2 .proc {
	padding: 50px 0px 0px 0px;
}
#section2 ul {
	margin:0px;
	padding: 0px;
}
#section2 ul li a {
	display:block;
	padding: 9px 15px;
	font-size: 16px;
	font-weight: 400;
	border: 2px solid #fff;
	border-radius: 0px;
	margin: 8px 0px;
	color: #000;
	background: rgba(255,255,255,0.2);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#section2 ul li:hover a {
	background: #fff;
	color: #000;
	padding: 9px 18px;
	cursor: pointer;
}
#section3 {
	background: #fff url('../images/banners/banner_3.jpg');
	background-size:cover;
	background-attachment: fixed;
}
#section3 h2 {
	text-transform: capitalize;
	margin: 0 0 10px 0;
	font-weight: 300;
	font-size: 34px;
	color: #333;
}
#section3 h3 {
	font-weight: 300;
	font-size: 24px;
	color: #333;
}
#section3 .phys {
	padding: 40px 0px 0px 0px;
}
#section3 .pro1 {
	background: #59b32d;
    min-height: 240px;
    position: relative;
    padding: 23px 23px 40px 0px;
	color: #fff;
	overflow: hidden;	
	text-align: right;
}
.physician_info_node .pro1 {
	background: #fff url('../images/bg.jpg') top center no-repeat;
    min-height: 220px;
    position: relative;
    padding: 10px 0px 0px;
	color: #fff;
	overflow: hidden;	
	text-align: center;
	margin-bottom: 50px;
}
.page-node-type-our-physicians .region-content ul li {
    font-size: 16px;
    padding: 0px 0px 10px 0px;
    list-style-type: circle;
    margin: 0px 0px 0px 20px;
}
.physician_info_node .pro1 img {
	margin: 0px auto;
}
.physician_info_node h3 a {
    font-size: 18px;
    font-weight: 600 !important;
    color: #333;
    letter-spacing: -0.5px;
}
.physician_info_node a {
	color: #1f5392;
}
.physician_info_msg {
	font-size: 16px;
	text-align: center;
	margin: 0px 0px 50px 0px;
}
#section3 .pro1 h3, #section3 .pro2 h3, #section3 .pro3 h3 {
	color: #fff;
	margin-top: 0px;
	font-weight: 400;
    font-size: 18px;
}
#section3 .pro2 {
	background: #59b32d;
    min-height: 230px;
    position: relative;
    padding: 50px 28px 20px 0px;
	color: #fff;
	overflow: hidden;
	text-align: right;
}
#section3 .pro3 {
	background: #59b32d;
    min-height: 230px;
    position: relative;
    padding: 50px 28px 20px 0px;
	color: #fff;
	overflow: hidden;
	text-align: right;
}
#section3 .pro1 img {
	position: absolute;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;	
	bottom: 0;
    left: -32px;
    width: 220px;    
    height: 200px;
}
#section3 .pro2 img {
	position: absolute;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	bottom: 0;
    left: -32px;
    width: 220px;    
    height: 200px;
}
#section3 .pro3 img {
	position: absolute;
	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	bottom: 0;
    left: -32px;
    width: 220px;
    height: 200px;
}
#section3 .pro1:hover img {
	cursor: pointer;
	bottom: 0;
    width: 241px;
    height: 219px;	
	left: -20px;	
}
#section3 .pro2:hover img {
	cursor: pointer;
	bottom: 0;
    width: 241px;
    height: 219px;	
	left: -20px;	
}
#section3 .pro3:hover img {
	cursor: pointer;
	bottom: 0;
    width: 241px;
    height: 219px;	
	left: -20px;	
}
#section3 h3 a {
	color: #fff;
}
#section3 .pro1 p, #section3 .pro2 p, #section3 .pro3 p {
	width: 130px;
    font-size: 14px;	
	float: right;
}
#section3 .view-content {
	margin-right: -15px;
	margin-left: -15px;
}
#section4 {
	background: #e0e3ec url('../images/banners/banner_4.jpg');
	background-size:cover;
	background-attachment: fixed;
}
#section4 h1 {
	font-size: 46px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
#section4 h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color:#000;
}
#section4 p {
	color:#000;
	margin-bottom: 20px;
}
#section4 .title {
	padding: 10px;
}
#section21 {
	background: #e0e3ec url('../images/banners/banner_2.jpg');
	background-size:cover;
	background-attachment: fixed;
}
#section21 h1 {
	font-size: 46px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
#section21 h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color: #333;
}
#section21 .title {
	padding: 10px;
}
#section21 .proc {
	padding: 50px 0px 0px 0px;
}
#section5 {
	background: #fff;
}
#section5 .container {
	margin-top: 90px;
}
#section5 h1 {
	font-size: 46px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
#section5 h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color:#000;
}
#section5 p {
	color:#000;
	margin-bottom: 20px;
}
#section5 .title {
	padding: 10px;
}
#section6, #section8 {
	background: #e0e3ec;
}
#section6 h2 {
    position: absolute;
 	top: 140px;
 	margin:0px auto;
 	left: 0;
 	right: 0;
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color:#000; 	
}
#section7 {
 	background: #fff;
}
#section7 h2 {
    position: absolute;
 	top: 86px;
 	margin:0px auto;
 	left: 0;
 	right: 0;
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 34px;
	color:#000; 	
}
#section7 #carousel-awards {
 	margin-top: -60px;
}
#section7 .carousel-control.right, #section7 .carousel-control.left {
 	background: none;
 	color: #000;
}
#section8 { 
 	background: transparent url('../images/banners/banner_6.jpg');
	background-size: cover;
	background-attachment: fixed;
}
#fp-title {
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 174px 0px 106px !important;
    min-height: 365px !important;
}
#fp-title h1 {
    text-transform: uppercase !important;
    margin: 0 0 8px 0 !important;
    font-weight: 400 !important;
    font-size: 28px !important;
    color: #333 !important;
}
#fp-title p {
	color: #333;
}
.fp-cont {
	padding-bottom: 40px;	
	margin-bottom: 40px;
	border-bottom: 1px solid #e9e9e9;
}
#top-cont {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 60px;
}
#about-us {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 40px;
}
#about-us h1 {
	font-size: 46px;
	color: #fff;
	font-weight: 300;
	line-height: 120%;
}
#about-us h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 30px;
	line-height: 120%;
	color: #333;
}
#about-us .title {
	padding: 10px;
}
#about-us .proc {
	padding: 50px 0px 0px 0px;
}
.about-img img {
    padding-top: 8px;
}
#top-cont h2, #contact h2 {
    text-transform: capitalize;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    color: #333;
}
#about-us ul {
	margin:0px;
	padding: 0px;
}
#about-us ul li a {
	display:block;
	padding: 9px 15px;
	font-size: 16px;
	font-weight: 400;
	border: 2px solid #fff;
	border-radius: 0px;
	margin: 8px 0px;
	color: #000;
	background: rgba(255,255,255,0.2);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#about-us ul li:hover a {
	background: #fff;
	color: #333;
	padding: 9px 18px;
	cursor: pointer;
}
#about-us .phys {
	padding: 40px 0px 0px 0px;
}
#about-us .pro1 {
	min-height: 250px;
	padding: 40px 0px;
	color: #333;	
	text-align: left;
}
#about-us .pro1 h3, #about-us .pro2 h3 {
	color: #333;
	margin-top: 0px;
}
#about-us .pro2 {
	padding: 30px 0px;
	color: #333;
}
#about-us .pro2 img {
	margin: 0px 0px 30px 0px;
}
#phys {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 60px;
}
#phys h1, .path-node.page-node-type-our-physicians h1 {
	text-transform: capitalize !important;
	margin: 20px 0 5px 0 !important;
	font-weight: 400 !important;
	font-size: 26px !important;
	line-height: 120% !important;
	color: #333 !important;
}
#phys h2, .path-node.page-node-type-our-physicians h2 {
	text-transform: capitalize !important;
	margin: 0 0 20px 0 !important;
	font-weight: 300 !important;
	font-size: 18px !important;
	line-height: 120% !important;
	color: #333 !important;
}
.page-node-type-our-physicians .main-container p:first-child {
	margin-bottom: 0px;
}
.fieldgroup {
    border: 1px solid #e5e5e5;
    padding: 0px 20px 20px;
    margin-bottom: 50px;
}
.fieldgroup .radio, .checkbox {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
	display: inline;
	font-family: 16px;	
	margin-right: 10px;
	margin-left: 10px;    
}
.fieldgroup .radio label {
	font-weight: 600; 
}
.feedback-form {
	width: 80%;
	margin: 20px auto;
}
.feedback-form .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 20%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 10px;
}
.form-item-patient-reviews {
	margin-bottom: 50px;
}
.form-item-patient-reviews label {
    font-size: 18px;
}
.fieldgroup legend {
    display: inline;
    width: auto;
    padding: 0px 10px;
    font-size: 18px;
    line-height: inherit;
    font-weight: bold;
    color: #000;
    border: 0;
}
#schd {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 60px;
}
.bsak {
	padding-top: 94px !important;
}
.schd-info {
	padding-bottom: 50px;
}
#proc {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 60px;
}
#proc h2 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 30px;
	line-height: 120%;
	color: #333;
}
#proc ul {
	margin:0px;
	padding: 0px;
}
#proc ul li a.act {
	background: #b1d6f3;
	color: #000;
}
#proc ul li:hover a.act {
	color: #000;
	background: #b1d6f3;	
	padding: 9px 15px;	
}
#proc ul li a {
	display:block;
	padding: 9px 15px;
	font-size: 14px;
	font-weight: 400;
	border: none;
	border-radius: 0px;
	margin: 0px 0px 2px 0px;
	color: #000;
	background: #f1f1f1;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
#proc ul li:hover a {
	background: #e2e2e2;
	color: #000;
	padding: 9px 18px;
	cursor: pointer;
}
#proc h3, .path-node.page-node-type-procedures h3 {
	margin: 20px 0px 10px 0px;
	font-weight: 400;
}

#contact {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 40px;
}
#gallery {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 40px;
}
#videos {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 40px;
}
#feedback {
	background: #fff url('../images/banners/banner_8.jpg');
	background-size:cover;
	background-attachment: fixed;
	padding: 60px 0px 40px;
}
#feedback h2 {
	text-transform: capitalize;
	margin: 0 0 30px 0;
	font-weight: 300;
	font-size: 30px;
	line-height: 120%;
	color: #333;
}
#feedback h3 {
	margin-top: 40px;	
	margin-bottom: 30px;
	clear: both;
	font-size: 24px;
}
.videoplay {
	color: #fff;
	font-size: 40px;
	transition:all 0.3s ease;
	padding: 20px 0px 0px;
}
.table {
	background: #fff;
}
.table.fp-htb {
   margin: 0px auto 10px;
   width: 54% !important; 
}
.table.fp-htb select {
	width: 100%;	
}
.table > thead > tr > th {
    padding: 12px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	font-size:14px;
	font-weight: 600;
	color: #000;
}
.table > tbody > tr > th {
    padding: 12px 18px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	font-size:14px;
	font-weight: 400;
	color: #000;
}
.table > thead > tr > th.sco, .table > tbody > tr > th.sco {
	text-align: center;
}
.table > tbody > tr > td {
    padding: 12px 18px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
	font-size:14px;
	font-weight: 400;
}
.proc_img {
	float: left;
	padding: 5px 20px 5px 0px;
}
.bimg {
 	position: absolute;
 	bottom: 20px;
 	left: 0px;
 	margin: 0px auto;
 	right: 0px;
}
.btn-custom {
	background-color: #53ad28;
	font-size: 18px;
	color: #fff !important;
	-webkit-font-smoothing: antialiased;
	border: 0;
	display: inline-block;
	margin: 20px 0px 0px;
	font-weight: 400;
	border-radius: 0px;	
	padding: 6px 18px 8px;
}
.btn-cont {
	margin: 0px 0px 0px;
}
.btn-wood {
	font-size: 16px;	
	padding: 6px 18px 8px;
	background: #1b1b1d !important;
}
.btn-book {
	margin: 20px 0px 0px;
}
.patient-info-cont-sf .btn-wood {
	font-size: 12px;	
	margin-top: 0px;
}
.proc-gal-img {
	padding: 20px 20px 10px;
	background: #b1d6f3;
	margin-right: 25px;
	margin-bottom: 10px;
	margin-top: 5px;
	color: #000;
	float: left;
}
.proc-gal-img img {
	width: 100%;
	padding-bottom: 15px;
}
.proc-gal-img p {
	font-size: 15px;
	font-style: italic;
	line-height: 120%;
}
.proc-gal-video, .proc-gal-img.pull-right {
	padding: 20px 20px 10px;
	background: #b1d6f3;
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #000;
	float: left;
}
.radio input[name="field_procedures_tag_target_id"] {
    position: relative;
    margin-left: 0;
    display: none;
}
figure.align-right {
	padding: 20px 20px 10px;
	background: #b1d6f3;
	margin-left: 25px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #000;
	float: right;
}
.proc-gal-video iframe {
	width: 100%;
	padding-bottom: 15px;
}
.proc-gal-video p {
	font-size: 15px;
	font-style: italic;
	line-height: 120%;
}
.video {
	padding: 0px 0px 0px;
}
.promo {
	margin: 0px auto;
	display: block;
	width: 200px;
}
.videoplay i.fa:before {
	font-size: 160px;
}
.videoplay i.fa:hover:before, .videoplay:hover {
	color: #03c4fe;
}
.viewp {
	display: block;
	margin: 0px auto;
}
#section5 h2, #section6 h2, #section7 h2 {
	padding-bottom: 20px;
}
#section6 .owl-carousel .owl-wrapper-outer {
    display: inline-block;
    padding: 71px 0px 72px;
    float: left;
}
#section7 .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 90%;
    margin: 22px auto 10px;
}
.gal h3 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 30px;
	color: #333;
}
.news h3 {
	text-transform: capitalize;
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 30px;
	color: #333;
}
.news h3 a {
	font-weight: 300;
}
figure {
	width: 282px;
    padding: 20px 20px 10px;
    background: #b1d6f3;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    color: #000;
}
figure img {
	width:100%;
	height: auto;
	padding-bottom: 15px;
    float: left;	
}
figcaption {
    font-size: 15px;
    font-style: italic;
    line-height: 120%;
    display: inline-block;
}
.footer {
	padding: 20px 0px;
	border-top: none;
	border-bottom: 1px solid #ccc;
}
.footer iframe {
	padding: 33px 0px 20px 0px;
}
.copyright {
	padding: 20px 0px;
}
.copyright p {
	font-size: 12px;
}
.ba-slider {
    position: relative;
    overflow: hidden;
}
.ba-slider img {
    width: 100%;
    display:block;
}
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
.handle {
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:2px;
  margin-left:-2px; 
  background: rgba(0,0,0,.8);
  cursor: ew-resize;
} 
.handle:after {
    position: absolute;
    top: 50%;
    width: 44px;
    height: 44px;
    margin: -22px 0 0 -22px; 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:38px; 
    background-color: hsl(110, 56%, 16%) !important;
	background-repeat: repeat-x;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53ad28", endColorstr="#3a8913");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#53ad28), to(#3a8913));
	background-image: -moz-linear-gradient(top, #53ad28, #3a8913);
	background-image: -ms-linear-gradient(top, #53ad28, #3a8913);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #53ad28), color-stop(100%, #3a8913));
	background-image: -webkit-linear-gradient(top, #53ad28, #3a8913);
	background-image: -o-linear-gradient(top, #53ad28, #3a8913);
	background-image: linear-gradient(#53ad28, #3a8913);
    border-radius: 50%;
    transition:all 0.3s ease;
}
.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:42px; 
    font-size:40px;
}
#block-webform .patient-info-cont, #block-webform-3 .patient-info-cont {
	background: #fff;
	padding: 0px;
	border: 0;
	margin-bottom: 0px;
}
#block-webform, #block-webform-3 {
    background: #fff;
    padding: 30px 35px 35px;
    border: 2px solid #eaebeb;
    margin-bottom: 40px;
}
.patient-info-cont {
    background: #fff;
    padding: 30px 15px;
    border: 2px solid #eaebeb;
    margin-bottom: 40px;
}
.file {
	margin: 0px;
}
#block-webform h2, #block-webform-3 h2 {
    text-transform: capitalize;
    margin: 0 0 20px 0 !important;
    line-height: 120% !important;
    font-size: 26px !important;
}
.patient-info-cont h2 {
    text-transform: capitalize;
    margin: 0 0 20px 0 !important;
    line-height: 120% !important;
    font-size: 26px !important;
}
.patient-info-cont p {
	margin-bottom: 0px;
}
.patient-info-cont i.file {
	height: 74px;
	display: block;
	font-size: 56px;
	overflow: hidden;
	line-height: 125%;
}
.patient-info-cont-sf:nth-child(2) {
	margin-top: 20px;
}
.patient-info-cont-sf, .patient-info-cont-sf i.file {
	-moz-transition: all 200ms;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;	
}
.patient-info-cont-sf:hover i.file {
		font-size: 60px;	
}
#block-webform.affix, #block-webform-3.affix {
    top: 140px;
    width: 26.5%;
}
.bsak #block-webform.affix, .bsak #block-webform-3.affix {
    top: 216px;
    width: 26.5%;
}
#carousel-awards .carousel-indicators {
	bottom: 180px;
}
#carousel-news {
	margin: 60px 0px 0px;
}
#carousel-news .carousel-indicators {
    bottom: 60px;
}
#carousel-news .carousel-indicators li, #carousel-awards .carousel-indicators li {
	height: 12px;
width: 12px;
margin:0px;
border: 2px solid #273c54;	
}
#carousel-news .carousel-indicators .active, #carousel-awards .carousel-indicators .active {
background: #273c54;	
}
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 2px;
}
.social-network a.icoRss {
	background-color: #F56505;
}
.social-network a.icoFacebook {
	background-color:#3B5998;
}
.social-network a.icoTwitter {
	background-color:#33ccff;
}
.social-network a.icoGoogle {
	background-color:#BD3518;
}
.social-network a.icoVimeo {
	background-color:#0590B8;
}
.social-network a.icoLinkedin {
	background-color:#007bb7;
}
.social-network a.icoYoutube {
	background-color:#BD3518;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoYoutube:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}
.user-logged-in .dropdown-menu {
    top: auto;
}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:14px;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	font-size: 16px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
  clip: rect(auto, auto, auto, auto);
}
.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
  position: absolute;
  border: 0.08em solid #307bbb;
  width: 0.84em;
  height: 0.84em;
  clip: rect(0em, 0.5em, 1em, 0em);
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100 {
  position: relative;
  font-size: 120px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  float: left;
  margin: 0 0.1em 0.1em 0;
  background-color: #fff;
}
.c100 *,
.c100 *:before,
.c100 *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.c100.center {
  float: none;
  margin: 0 auto;
}
.c100.big {
  font-size: 140px;
}
.c100.small {
  font-size: 80px;
}
.c100 > span {
  position: absolute;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  width: 5em;
  line-height: 5em;
  font-size: 0.2em;
  color: #cccccc;
  display: block;
  text-align: center;
  white-space: nowrap;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.c100:after {
  position: absolute;
  top: 0.08em;
  left: 0.08em;
  display: block;
  content: " ";
  border-radius: 50%;
  background-color: #142a45;
  width: 0.84em;
  height: 0.84em;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.c100 .slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0em, 1em, 1em, 0.5em);
}
.c100.p1 .bar {
  -webkit-transform: rotate(3.6deg);
  -moz-transform: rotate(3.6deg);
  -ms-transform: rotate(3.6deg);
  -o-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}
.c100.p2 .bar {
  -webkit-transform: rotate(7.2deg);
  -moz-transform: rotate(7.2deg);
  -ms-transform: rotate(7.2deg);
  -o-transform: rotate(7.2deg);
  transform: rotate(7.2deg);
}
.c100.p3 .bar {
  -webkit-transform: rotate(10.8deg);
  -moz-transform: rotate(10.8deg);
  -ms-transform: rotate(10.8deg);
  -o-transform: rotate(10.8deg);
  transform: rotate(10.8deg);
}
.c100.p4 .bar {
  -webkit-transform: rotate(14.4deg);
  -moz-transform: rotate(14.4deg);
  -ms-transform: rotate(14.4deg);
  -o-transform: rotate(14.4deg);
  transform: rotate(14.4deg);
}
.c100.p5 .bar {
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  -o-transform: rotate(18deg);
  transform: rotate(18deg);
}
.c100.p6 .bar {
  -webkit-transform: rotate(21.6deg);
  -moz-transform: rotate(21.6deg);
  -ms-transform: rotate(21.6deg);
  -o-transform: rotate(21.6deg);
  transform: rotate(21.6deg);
}
.c100.p7 .bar {
  -webkit-transform: rotate(25.2deg);
  -moz-transform: rotate(25.2deg);
  -ms-transform: rotate(25.2deg);
  -o-transform: rotate(25.2deg);
  transform: rotate(25.2deg);
}
.c100.p8 .bar {
  -webkit-transform: rotate(28.8deg);
  -moz-transform: rotate(28.8deg);
  -ms-transform: rotate(28.8deg);
  -o-transform: rotate(28.8deg);
  transform: rotate(28.8deg);
}
.c100.p9 .bar {
  -webkit-transform: rotate(32.4deg);
  -moz-transform: rotate(32.4deg);
  -ms-transform: rotate(32.4deg);
  -o-transform: rotate(32.4deg);
  transform: rotate(32.4deg);
}
.c100.p10 .bar {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
}
.c100.p11 .bar {
  -webkit-transform: rotate(39.6deg);
  -moz-transform: rotate(39.6deg);
  -ms-transform: rotate(39.6deg);
  -o-transform: rotate(39.6deg);
  transform: rotate(39.6deg);
}
.c100.p12 .bar {
  -webkit-transform: rotate(43.2deg);
  -moz-transform: rotate(43.2deg);
  -ms-transform: rotate(43.2deg);
  -o-transform: rotate(43.2deg);
  transform: rotate(43.2deg);
}
.c100.p13 .bar {
  -webkit-transform: rotate(46.800000000000004deg);
  -moz-transform: rotate(46.800000000000004deg);
  -ms-transform: rotate(46.800000000000004deg);
  -o-transform: rotate(46.800000000000004deg);
  transform: rotate(46.800000000000004deg);
}
.c100.p14 .bar {
  -webkit-transform: rotate(50.4deg);
  -moz-transform: rotate(50.4deg);
  -ms-transform: rotate(50.4deg);
  -o-transform: rotate(50.4deg);
  transform: rotate(50.4deg);
}
.c100.p15 .bar {
  -webkit-transform: rotate(54deg);
  -moz-transform: rotate(54deg);
  -ms-transform: rotate(54deg);
  -o-transform: rotate(54deg);
  transform: rotate(54deg);
}
.c100.p16 .bar {
  -webkit-transform: rotate(57.6deg);
  -moz-transform: rotate(57.6deg);
  -ms-transform: rotate(57.6deg);
  -o-transform: rotate(57.6deg);
  transform: rotate(57.6deg);
}
.c100.p17 .bar {
  -webkit-transform: rotate(61.2deg);
  -moz-transform: rotate(61.2deg);
  -ms-transform: rotate(61.2deg);
  -o-transform: rotate(61.2deg);
  transform: rotate(61.2deg);
}
.c100.p18 .bar {
  -webkit-transform: rotate(64.8deg);
  -moz-transform: rotate(64.8deg);
  -ms-transform: rotate(64.8deg);
  -o-transform: rotate(64.8deg);
  transform: rotate(64.8deg);
}
.c100.p19 .bar {
  -webkit-transform: rotate(68.4deg);
  -moz-transform: rotate(68.4deg);
  -ms-transform: rotate(68.4deg);
  -o-transform: rotate(68.4deg);
  transform: rotate(68.4deg);
}
.c100.p20 .bar {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -ms-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.c100.p21 .bar {
  -webkit-transform: rotate(75.60000000000001deg);
  -moz-transform: rotate(75.60000000000001deg);
  -ms-transform: rotate(75.60000000000001deg);
  -o-transform: rotate(75.60000000000001deg);
  transform: rotate(75.60000000000001deg);
}
.c100.p22 .bar {
  -webkit-transform: rotate(79.2deg);
  -moz-transform: rotate(79.2deg);
  -ms-transform: rotate(79.2deg);
  -o-transform: rotate(79.2deg);
  transform: rotate(79.2deg);
}
.c100.p23 .bar {
  -webkit-transform: rotate(82.8deg);
  -moz-transform: rotate(82.8deg);
  -ms-transform: rotate(82.8deg);
  -o-transform: rotate(82.8deg);
  transform: rotate(82.8deg);
}
.c100.p24 .bar {
  -webkit-transform: rotate(86.4deg);
  -moz-transform: rotate(86.4deg);
  -ms-transform: rotate(86.4deg);
  -o-transform: rotate(86.4deg);
  transform: rotate(86.4deg);
}
.c100.p25 .bar {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.c100.p26 .bar {
  -webkit-transform: rotate(93.60000000000001deg);
  -moz-transform: rotate(93.60000000000001deg);
  -ms-transform: rotate(93.60000000000001deg);
  -o-transform: rotate(93.60000000000001deg);
  transform: rotate(93.60000000000001deg);
}
.c100.p27 .bar {
  -webkit-transform: rotate(97.2deg);
  -moz-transform: rotate(97.2deg);
  -ms-transform: rotate(97.2deg);
  -o-transform: rotate(97.2deg);
  transform: rotate(97.2deg);
}
.c100.p28 .bar {
  -webkit-transform: rotate(100.8deg);
  -moz-transform: rotate(100.8deg);
  -ms-transform: rotate(100.8deg);
  -o-transform: rotate(100.8deg);
  transform: rotate(100.8deg);
}
.c100.p29 .bar {
  -webkit-transform: rotate(104.4deg);
  -moz-transform: rotate(104.4deg);
  -ms-transform: rotate(104.4deg);
  -o-transform: rotate(104.4deg);
  transform: rotate(104.4deg);
}
.c100.p30 .bar {
  -webkit-transform: rotate(108deg);
  -moz-transform: rotate(108deg);
  -ms-transform: rotate(108deg);
  -o-transform: rotate(108deg);
  transform: rotate(108deg);
}
.c100.p31 .bar {
  -webkit-transform: rotate(111.60000000000001deg);
  -moz-transform: rotate(111.60000000000001deg);
  -ms-transform: rotate(111.60000000000001deg);
  -o-transform: rotate(111.60000000000001deg);
  transform: rotate(111.60000000000001deg);
}
.c100.p32 .bar {
  -webkit-transform: rotate(115.2deg);
  -moz-transform: rotate(115.2deg);
  -ms-transform: rotate(115.2deg);
  -o-transform: rotate(115.2deg);
  transform: rotate(115.2deg);
}
.c100.p33 .bar {
  -webkit-transform: rotate(118.8deg);
  -moz-transform: rotate(118.8deg);
  -ms-transform: rotate(118.8deg);
  -o-transform: rotate(118.8deg);
  transform: rotate(118.8deg);
}
.c100.p34 .bar {
  -webkit-transform: rotate(122.4deg);
  -moz-transform: rotate(122.4deg);
  -ms-transform: rotate(122.4deg);
  -o-transform: rotate(122.4deg);
  transform: rotate(122.4deg);
}
.c100.p35 .bar {
  -webkit-transform: rotate(126deg);
  -moz-transform: rotate(126deg);
  -ms-transform: rotate(126deg);
  -o-transform: rotate(126deg);
  transform: rotate(126deg);
}
.c100.p36 .bar {
  -webkit-transform: rotate(129.6deg);
  -moz-transform: rotate(129.6deg);
  -ms-transform: rotate(129.6deg);
  -o-transform: rotate(129.6deg);
  transform: rotate(129.6deg);
}
.c100.p37 .bar {
  -webkit-transform: rotate(133.20000000000002deg);
  -moz-transform: rotate(133.20000000000002deg);
  -ms-transform: rotate(133.20000000000002deg);
  -o-transform: rotate(133.20000000000002deg);
  transform: rotate(133.20000000000002deg);
}
.c100.p38 .bar {
  -webkit-transform: rotate(136.8deg);
  -moz-transform: rotate(136.8deg);
  -ms-transform: rotate(136.8deg);
  -o-transform: rotate(136.8deg);
  transform: rotate(136.8deg);
}
.c100.p39 .bar {
  -webkit-transform: rotate(140.4deg);
  -moz-transform: rotate(140.4deg);
  -ms-transform: rotate(140.4deg);
  -o-transform: rotate(140.4deg);
  transform: rotate(140.4deg);
}
.c100.p40 .bar {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -ms-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.c100.p41 .bar {
  -webkit-transform: rotate(147.6deg);
  -moz-transform: rotate(147.6deg);
  -ms-transform: rotate(147.6deg);
  -o-transform: rotate(147.6deg);
  transform: rotate(147.6deg);
}
.c100.p42 .bar {
  -webkit-transform: rotate(151.20000000000002deg);
  -moz-transform: rotate(151.20000000000002deg);
  -ms-transform: rotate(151.20000000000002deg);
  -o-transform: rotate(151.20000000000002deg);
  transform: rotate(151.20000000000002deg);
}
.c100.p43 .bar {
  -webkit-transform: rotate(154.8deg);
  -moz-transform: rotate(154.8deg);
  -ms-transform: rotate(154.8deg);
  -o-transform: rotate(154.8deg);
  transform: rotate(154.8deg);
}
.c100.p44 .bar {
  -webkit-transform: rotate(158.4deg);
  -moz-transform: rotate(158.4deg);
  -ms-transform: rotate(158.4deg);
  -o-transform: rotate(158.4deg);
  transform: rotate(158.4deg);
}
.c100.p45 .bar {
  -webkit-transform: rotate(162deg);
  -moz-transform: rotate(162deg);
  -ms-transform: rotate(162deg);
  -o-transform: rotate(162deg);
  transform: rotate(162deg);
}
.c100.p46 .bar {
  -webkit-transform: rotate(165.6deg);
  -moz-transform: rotate(165.6deg);
  -ms-transform: rotate(165.6deg);
  -o-transform: rotate(165.6deg);
  transform: rotate(165.6deg);
}
.c100.p47 .bar {
  -webkit-transform: rotate(169.20000000000002deg);
  -moz-transform: rotate(169.20000000000002deg);
  -ms-transform: rotate(169.20000000000002deg);
  -o-transform: rotate(169.20000000000002deg);
  transform: rotate(169.20000000000002deg);
}
.c100.p48 .bar {
  -webkit-transform: rotate(172.8deg);
  -moz-transform: rotate(172.8deg);
  -ms-transform: rotate(172.8deg);
  -o-transform: rotate(172.8deg);
  transform: rotate(172.8deg);
}
.c100.p49 .bar {
  -webkit-transform: rotate(176.4deg);
  -moz-transform: rotate(176.4deg);
  -ms-transform: rotate(176.4deg);
  -o-transform: rotate(176.4deg);
  transform: rotate(176.4deg);
}
.c100.p50 .bar {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.c100.p51 .bar {
  -webkit-transform: rotate(183.6deg);
  -moz-transform: rotate(183.6deg);
  -ms-transform: rotate(183.6deg);
  -o-transform: rotate(183.6deg);
  transform: rotate(183.6deg);
}
.c100.p52 .bar {
  -webkit-transform: rotate(187.20000000000002deg);
  -moz-transform: rotate(187.20000000000002deg);
  -ms-transform: rotate(187.20000000000002deg);
  -o-transform: rotate(187.20000000000002deg);
  transform: rotate(187.20000000000002deg);
}
.c100.p53 .bar {
  -webkit-transform: rotate(190.8deg);
  -moz-transform: rotate(190.8deg);
  -ms-transform: rotate(190.8deg);
  -o-transform: rotate(190.8deg);
  transform: rotate(190.8deg);
}
.c100.p54 .bar {
  -webkit-transform: rotate(194.4deg);
  -moz-transform: rotate(194.4deg);
  -ms-transform: rotate(194.4deg);
  -o-transform: rotate(194.4deg);
  transform: rotate(194.4deg);
}
.c100.p55 .bar {
  -webkit-transform: rotate(198deg);
  -moz-transform: rotate(198deg);
  -ms-transform: rotate(198deg);
  -o-transform: rotate(198deg);
  transform: rotate(198deg);
}
.c100.p56 .bar {
  -webkit-transform: rotate(201.6deg);
  -moz-transform: rotate(201.6deg);
  -ms-transform: rotate(201.6deg);
  -o-transform: rotate(201.6deg);
  transform: rotate(201.6deg);
}
.c100.p57 .bar {
  -webkit-transform: rotate(205.20000000000002deg);
  -moz-transform: rotate(205.20000000000002deg);
  -ms-transform: rotate(205.20000000000002deg);
  -o-transform: rotate(205.20000000000002deg);
  transform: rotate(205.20000000000002deg);
}
.c100.p58 .bar {
  -webkit-transform: rotate(208.8deg);
  -moz-transform: rotate(208.8deg);
  -ms-transform: rotate(208.8deg);
  -o-transform: rotate(208.8deg);
  transform: rotate(208.8deg);
}
.c100.p59 .bar {
  -webkit-transform: rotate(212.4deg);
  -moz-transform: rotate(212.4deg);
  -ms-transform: rotate(212.4deg);
  -o-transform: rotate(212.4deg);
  transform: rotate(212.4deg);
}
.c100.p60 .bar {
  -webkit-transform: rotate(216deg);
  -moz-transform: rotate(216deg);
  -ms-transform: rotate(216deg);
  -o-transform: rotate(216deg);
  transform: rotate(216deg);
}
.c100.p61 .bar {
  -webkit-transform: rotate(219.6deg);
  -moz-transform: rotate(219.6deg);
  -ms-transform: rotate(219.6deg);
  -o-transform: rotate(219.6deg);
  transform: rotate(219.6deg);
}
.c100.p62 .bar {
  -webkit-transform: rotate(223.20000000000002deg);
  -moz-transform: rotate(223.20000000000002deg);
  -ms-transform: rotate(223.20000000000002deg);
  -o-transform: rotate(223.20000000000002deg);
  transform: rotate(223.20000000000002deg);
}
.c100.p63 .bar {
  -webkit-transform: rotate(226.8deg);
  -moz-transform: rotate(226.8deg);
  -ms-transform: rotate(226.8deg);
  -o-transform: rotate(226.8deg);
  transform: rotate(226.8deg);
}
.c100.p64 .bar {
  -webkit-transform: rotate(230.4deg);
  -moz-transform: rotate(230.4deg);
  -ms-transform: rotate(230.4deg);
  -o-transform: rotate(230.4deg);
  transform: rotate(230.4deg);
}
.c100.p65 .bar {
  -webkit-transform: rotate(234deg);
  -moz-transform: rotate(234deg);
  -ms-transform: rotate(234deg);
  -o-transform: rotate(234deg);
  transform: rotate(234deg);
}
.c100.p66 .bar {
  -webkit-transform: rotate(237.6deg);
  -moz-transform: rotate(237.6deg);
  -ms-transform: rotate(237.6deg);
  -o-transform: rotate(237.6deg);
  transform: rotate(237.6deg);
}
.c100.p67 .bar {
  -webkit-transform: rotate(241.20000000000002deg);
  -moz-transform: rotate(241.20000000000002deg);
  -ms-transform: rotate(241.20000000000002deg);
  -o-transform: rotate(241.20000000000002deg);
  transform: rotate(241.20000000000002deg);
}
.c100.p68 .bar {
  -webkit-transform: rotate(244.8deg);
  -moz-transform: rotate(244.8deg);
  -ms-transform: rotate(244.8deg);
  -o-transform: rotate(244.8deg);
  transform: rotate(244.8deg);
}
.c100.p69 .bar {
  -webkit-transform: rotate(248.4deg);
  -moz-transform: rotate(248.4deg);
  -ms-transform: rotate(248.4deg);
  -o-transform: rotate(248.4deg);
  transform: rotate(248.4deg);
}
.c100.p70 .bar {
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transform: rotate(252deg);
}
.c100.p71 .bar {
  -webkit-transform: rotate(255.6deg);
  -moz-transform: rotate(255.6deg);
  -ms-transform: rotate(255.6deg);
  -o-transform: rotate(255.6deg);
  transform: rotate(255.6deg);
}
.c100.p72 .bar {
  -webkit-transform: rotate(259.2deg);
  -moz-transform: rotate(259.2deg);
  -ms-transform: rotate(259.2deg);
  -o-transform: rotate(259.2deg);
  transform: rotate(259.2deg);
}
.c100.p73 .bar {
  -webkit-transform: rotate(262.8deg);
  -moz-transform: rotate(262.8deg);
  -ms-transform: rotate(262.8deg);
  -o-transform: rotate(262.8deg);
  transform: rotate(262.8deg);
}
.c100.p74 .bar {
  -webkit-transform: rotate(266.40000000000003deg);
  -moz-transform: rotate(266.40000000000003deg);
  -ms-transform: rotate(266.40000000000003deg);
  -o-transform: rotate(266.40000000000003deg);
  transform: rotate(266.40000000000003deg);
}
.c100.p75 .bar {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.c100.p76 .bar {
  -webkit-transform: rotate(273.6deg);
  -moz-transform: rotate(273.6deg);
  -ms-transform: rotate(273.6deg);
  -o-transform: rotate(273.6deg);
  transform: rotate(273.6deg);
}
.c100.p77 .bar {
  -webkit-transform: rotate(277.2deg);
  -moz-transform: rotate(277.2deg);
  -ms-transform: rotate(277.2deg);
  -o-transform: rotate(277.2deg);
  transform: rotate(277.2deg);
}
.c100.p78 .bar {
  -webkit-transform: rotate(280.8deg);
  -moz-transform: rotate(280.8deg);
  -ms-transform: rotate(280.8deg);
  -o-transform: rotate(280.8deg);
  transform: rotate(280.8deg);
}
.c100.p79 .bar {
  -webkit-transform: rotate(284.40000000000003deg);
  -moz-transform: rotate(284.40000000000003deg);
  -ms-transform: rotate(284.40000000000003deg);
  -o-transform: rotate(284.40000000000003deg);
  transform: rotate(284.40000000000003deg);
}
.c100.p80 .bar {
  -webkit-transform: rotate(288deg);
  -moz-transform: rotate(288deg);
  -ms-transform: rotate(288deg);
  -o-transform: rotate(288deg);
  transform: rotate(288deg);
}
.c100.p81 .bar {
  -webkit-transform: rotate(291.6deg);
  -moz-transform: rotate(291.6deg);
  -ms-transform: rotate(291.6deg);
  -o-transform: rotate(291.6deg);
  transform: rotate(291.6deg);
}
.c100.p82 .bar {
  -webkit-transform: rotate(295.2deg);
  -moz-transform: rotate(295.2deg);
  -ms-transform: rotate(295.2deg);
  -o-transform: rotate(295.2deg);
  transform: rotate(295.2deg);
}
.c100.p83 .bar {
  -webkit-transform: rotate(298.8deg);
  -moz-transform: rotate(298.8deg);
  -ms-transform: rotate(298.8deg);
  -o-transform: rotate(298.8deg);
  transform: rotate(298.8deg);
}
.c100.p84 .bar {
  -webkit-transform: rotate(302.40000000000003deg);
  -moz-transform: rotate(302.40000000000003deg);
  -ms-transform: rotate(302.40000000000003deg);
  -o-transform: rotate(302.40000000000003deg);
  transform: rotate(302.40000000000003deg);
}
.c100.p85 .bar {
  -webkit-transform: rotate(306deg);
  -moz-transform: rotate(306deg);
  -ms-transform: rotate(306deg);
  -o-transform: rotate(306deg);
  transform: rotate(306deg);
}
.c100.p86 .bar {
  -webkit-transform: rotate(309.6deg);
  -moz-transform: rotate(309.6deg);
  -ms-transform: rotate(309.6deg);
  -o-transform: rotate(309.6deg);
  transform: rotate(309.6deg);
}
.c100.p87 .bar {
  -webkit-transform: rotate(313.2deg);
  -moz-transform: rotate(313.2deg);
  -ms-transform: rotate(313.2deg);
  -o-transform: rotate(313.2deg);
  transform: rotate(313.2deg);
}
.c100.p88 .bar {
  -webkit-transform: rotate(316.8deg);
  -moz-transform: rotate(316.8deg);
  -ms-transform: rotate(316.8deg);
  -o-transform: rotate(316.8deg);
  transform: rotate(316.8deg);
}
.c100.p89 .bar {
  -webkit-transform: rotate(320.40000000000003deg);
  -moz-transform: rotate(320.40000000000003deg);
  -ms-transform: rotate(320.40000000000003deg);
  -o-transform: rotate(320.40000000000003deg);
  transform: rotate(320.40000000000003deg);
}
.c100.p90 .bar {
  -webkit-transform: rotate(324deg);
  -moz-transform: rotate(324deg);
  -ms-transform: rotate(324deg);
  -o-transform: rotate(324deg);
  transform: rotate(324deg);
}
.c100.p91 .bar {
  -webkit-transform: rotate(327.6deg);
  -moz-transform: rotate(327.6deg);
  -ms-transform: rotate(327.6deg);
  -o-transform: rotate(327.6deg);
  transform: rotate(327.6deg);
}
.c100.p92 .bar {
  -webkit-transform: rotate(331.2deg);
  -moz-transform: rotate(331.2deg);
  -ms-transform: rotate(331.2deg);
  -o-transform: rotate(331.2deg);
  transform: rotate(331.2deg);
}
.c100.p93 .bar {
  -webkit-transform: rotate(334.8deg);
  -moz-transform: rotate(334.8deg);
  -ms-transform: rotate(334.8deg);
  -o-transform: rotate(334.8deg);
  transform: rotate(334.8deg);
}
.c100.p94 .bar {
  -webkit-transform: rotate(338.40000000000003deg);
  -moz-transform: rotate(338.40000000000003deg);
  -ms-transform: rotate(338.40000000000003deg);
  -o-transform: rotate(338.40000000000003deg);
  transform: rotate(338.40000000000003deg);
}
.c100.p95 .bar {
  -webkit-transform: rotate(342deg);
  -moz-transform: rotate(342deg);
  -ms-transform: rotate(342deg);
  -o-transform: rotate(342deg);
  transform: rotate(342deg);
}
.c100.p96 .bar {
  -webkit-transform: rotate(345.6deg);
  -moz-transform: rotate(345.6deg);
  -ms-transform: rotate(345.6deg);
  -o-transform: rotate(345.6deg);
  transform: rotate(345.6deg);
}
.c100.p97 .bar {
  -webkit-transform: rotate(349.2deg);
  -moz-transform: rotate(349.2deg);
  -ms-transform: rotate(349.2deg);
  -o-transform: rotate(349.2deg);
  transform: rotate(349.2deg);
}
.c100.p98 .bar {
  -webkit-transform: rotate(352.8deg);
  -moz-transform: rotate(352.8deg);
  -ms-transform: rotate(352.8deg);
  -o-transform: rotate(352.8deg);
  transform: rotate(352.8deg);
}
.c100.p99 .bar {
  -webkit-transform: rotate(356.40000000000003deg);
  -moz-transform: rotate(356.40000000000003deg);
  -ms-transform: rotate(356.40000000000003deg);
  -o-transform: rotate(356.40000000000003deg);
  transform: rotate(356.40000000000003deg);
}
.c100.p100 .bar {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
.c100:hover {
  cursor: default;
}
.c100:hover > span {
  width: 3.33em;
  line-height: 3.33em;
  font-size: 0.3em;
  color: #fff;
}
.c100:hover:after {
  top: 0.04em;
  left: 0.04em;
  width: 0.92em;
  height: 0.92em;
}
.c100.dark {
  background-color: #777777;
}
.c100.dark .bar,
.c100.dark .fill {
  border-color: #c6ff00 !important;
}
.c100.dark > span {
  color: #777777;
}
.c100.dark:after {
  background-color: #666666;
}
.c100.dark:hover > span {
  color: #c6ff00;
}
.c100.green .bar,
.c100.green .fill {
  border-color: #4db53c !important;
}
.c100.green:hover > span {
  color: #4db53c;
}
.c100.green.dark .bar,
.c100.green.dark .fill {
  border-color: #5fd400 !important;
}
.c100.green.dark:hover > span {
  color: #5fd400;
}
.c100.orange .bar,
.c100.orange .fill {
  border-color: #dd9d22 !important;
}
.c100.orange:hover > span {
  color: #dd9d22;
}
.c100.orange.dark .bar,
.c100.orange.dark .fill {
  border-color: #e08833 !important;
}
.c100.orange.dark:hover > span {
  color: #e08833;
}
.fancybox-enabled{overflow:hidden}.fancybox-enabled body{overflow:visible;height:100%}.fancybox-is-hidden{position:absolute;top:-9999px;left:-9999px;visibility:hidden}.fancybox-container{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99993;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.fancybox-container~.fancybox-container{z-index:99992}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{position:absolute;top:0;right:0;bottom:0;left:0}.fancybox-outer{overflow-y:auto;-webkit-overflow-scrolling:touch}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.87;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption-wrap,.fancybox-infobar,.fancybox-toolbar{position:absolute;direction:ltr;z-index:99997;opacity:0;visibility:hidden;transition:opacity .25s,visibility 0s linear .25s;box-sizing:border-box}.fancybox-show-caption .fancybox-caption-wrap,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;visibility:visible;transition:opacity .25s,visibility 0s}.fancybox-infobar{top:0;left:50%;margin-left:-79px}.fancybox-infobar__body{display:inline-block;width:70px;line-height:44px;font-size:13px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;text-align:center;color:#ddd;background-color:rgba(30,30,30,.7);pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent;-webkit-font-smoothing:subpixel-antialiased}.fancybox-toolbar{top:0;right:0}.fancybox-stage{overflow:hidden;direction:ltr;z-index:99994;-webkit-transform:translateZ(0)}.fancybox-slide{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:auto;outline:none;white-space:normal;box-sizing:border-box;text-align:center;z-index:99994;-webkit-overflow-scrolling:touch;display:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.fancybox-slide:before{content:"";display:inline-block;vertical-align:middle;height:100%;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:visible}.fancybox-slide--image:before{display:none}.fancybox-slide--video .fancybox-content,.fancybox-slide--video iframe{background:#000}.fancybox-slide--map .fancybox-content,.fancybox-slide--map iframe{background:#e5e3df}.fancybox-slide--next{z-index:99995}.fancybox-slide>*{display:inline-block;position:relative;padding:24px;margin:44px 0;border-width:0;vertical-align:middle;text-align:left;background-color:#fff;overflow:auto;box-sizing:border-box}.fancybox-slide .fancybox-image-wrap{position:absolute;top:0;left:0;margin:0;padding:0;border:0;z-index:99995;background:transparent;cursor:default;overflow:visible;-webkit-transform-origin:top left;transform-origin:top left;background-size:100% 100%;background-repeat:no-repeat;-webkit-backface-visibility:hidden;backface-visibility:hidden}.fancybox-can-zoomOut .fancybox-image-wrap{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-image-wrap{cursor:zoom-in}.fancybox-can-drag .fancybox-image-wrap{cursor:-webkit-grab;cursor:grab}.fancybox-is-dragging .fancybox-image-wrap{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-image,.fancybox-spaceball{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;border:0;max-width:none;max-height:none}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content{padding:0;width:80%;height:80%;max-width:calc(100% - 100px);max-height:calc(100% - 88px);overflow:visible;background:#fff}.fancybox-iframe{display:block;padding:0;border:0;height:100%}.fancybox-error,.fancybox-iframe{margin:0;width:100%;background:#fff}.fancybox-error{padding:40px;max-width:380px;cursor:default}.fancybox-error p{margin:0;padding:0;color:#444;font:16px/20px Helvetica Neue,Helvetica,Arial,sans-serif}.fancybox-close-small{position:absolute;top:0;right:0;width:44px;height:44px;padding:0;margin:0;border:0;border-radius:0;outline:none;background:transparent;z-index:10;cursor:pointer}.fancybox-close-small:after{content:"Ã—";position:absolute;top:5px;right:5px;width:30px;height:30px;font:20px/30px Arial,Helvetica Neue,Helvetica,sans-serif;color:#888;font-weight:300;text-align:center;border-radius:50%;border-width:0;background:#fff;transition:background .25s;box-sizing:border-box;z-index:2}.fancybox-close-small:focus:after{outline:1px dotted #888}.fancybox-close-small:hover:after{color:#555;background:#eee}.fancybox-slide--iframe .fancybox-close-small{top:0;right:-44px}.fancybox-slide--iframe .fancybox-close-small:after{background:transparent;font-size:35px;color:#aaa}.fancybox-slide--iframe .fancybox-close-small:hover:after{color:#fff}.fancybox-caption-wrap{bottom:0;left:0;right:0;padding:60px 30px 0;background:linear-gradient(180deg,transparent 0,rgba(0,0,0,.1) 20%,rgba(0,0,0,.2) 40%,rgba(0,0,0,.6) 80%,rgba(0,0,0,.8));pointer-events:none}.fancybox-caption{padding:30px 0;border-top:1px solid hsla(0,0%,100%,.4);font-size:14px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#fff;line-height:20px;-webkit-text-size-adjust:none}.fancybox-caption a,.fancybox-caption button,.fancybox-caption select{pointer-events:all}.fancybox-caption a{color:#fff;text-decoration:underline}.fancybox-button{display:inline-block;position:relative;margin:0;padding:0;border:0;width:44px;height:44px;line-height:44px;text-align:center;background:transparent;color:#ddd;border-radius:0;cursor:pointer;vertical-align:top;outline:none}.fancybox-button[disabled]{cursor:default;pointer-events:none}.fancybox-button,.fancybox-infobar__body{background:rgba(30,30,30,.6)}.fancybox-button:hover:not([disabled]){color:#fff;background:rgba(0,0,0,.8)}.fancybox-button:after,.fancybox-button:before{content:"";pointer-events:none;position:absolute;background-color:currentColor;color:currentColor;opacity:.9;box-sizing:border-box;display:inline-block}.fancybox-button[disabled]:after,.fancybox-button[disabled]:before{opacity:.3}.fancybox-button--left:after,.fancybox-button--right:after{top:18px;width:6px;height:6px;background:transparent;border-top:2px solid currentColor;border-right:2px solid currentColor}.fancybox-button--left:after{left:20px;-webkit-transform:rotate(-135deg);transform:rotate(-135deg)}.fancybox-button--right:after{right:20px;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--left{border-bottom-left-radius:5px}.fancybox-button--right{border-bottom-right-radius:5px}.fancybox-button--close:after,.fancybox-button--close:before{content:"";display:inline-block;position:absolute;height:2px;width:16px;top:calc(50% - 1px);left:calc(50% - 8px)}.fancybox-button--close:before{-webkit-transform:rotate(45deg);transform:rotate(45deg)}.fancybox-button--close:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.fancybox-arrow{position:absolute;top:50%;margin:-50px 0 0;height:100px;width:54px;padding:0;border:0;outline:none;background:none;cursor:pointer;z-index:99995;opacity:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:opacity .25s}.fancybox-arrow:after{content:"";position:absolute;top:28px;width:44px;height:44px;background-color:rgba(30,30,30,.8);background-image:url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);background-repeat:no-repeat;background-position:50%;background-size:24px 24px}.fancybox-arrow--right{right:0}.fancybox-arrow--left{left:0;-webkit-transform:scaleX(-1);transform:scaleX(-1)}.fancybox-arrow--left:after,.fancybox-arrow--right:after{left:0}.fancybox-show-nav .fancybox-arrow{opacity:.6}.fancybox-show-nav .fancybox-arrow[disabled]{opacity:.3}.fancybox-loading{border:6px solid hsla(0,0%,39%,.4);border-top:6px solid hsla(0,0%,100%,.6);border-radius:100%;height:50px;width:50px;-webkit-animation:a .8s infinite linear;animation:a .8s infinite linear;background:transparent;position:absolute;top:50%;left:50%;margin-top:-25px;margin-left:-25px;z-index:99999}@-webkit-keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}@keyframes a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(359deg);transform:rotate(359deg)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}.fancybox-fx-slide.fancybox-slide--current{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--next{-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5);opacity:0}.fancybox-fx-zoom-in-out.fancybox-slide--current{-webkit-transform:scaleX(1);transform:scaleX(1);opacity:1}.fancybox-fx-rotate.fancybox-slide--previous{-webkit-transform:rotate(-1turn);transform:rotate(-1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--next{-webkit-transform:rotate(1turn);transform:rotate(1turn);opacity:0}.fancybox-fx-rotate.fancybox-slide--current{-webkit-transform:rotate(0deg);transform:rotate(0deg);opacity:1}.fancybox-fx-circular.fancybox-slide--previous{-webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);transform:scale3d(0,0,0) translate3d(-100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--next{-webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);transform:scale3d(0,0,0) translate3d(100%,0,0);opacity:0}.fancybox-fx-circular.fancybox-slide--current{-webkit-transform:scaleX(1) translateZ(0);transform:scaleX(1) translateZ(0);opacity:1}.fancybox-fx-tube.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}@media (max-width:800px){.fancybox-infobar{left:0;margin-left:0}.fancybox-button--left,.fancybox-button--right{display:none!important}.fancybox-caption{padding:20px 0;margin:0}}.fancybox-button--fullscreen:before{width:15px;height:11px;left:calc(50% - 7px);top:calc(50% - 6px);border:2px solid;background:none}.fancybox-button--pause:before,.fancybox-button--play:before{top:calc(50% - 6px);left:calc(50% - 4px);background:transparent}.fancybox-button--play:before{width:0;height:0;border-top:6px inset transparent;border-bottom:6px inset transparent;border-left:10px solid;border-radius:1px}.fancybox-button--pause:before{width:7px;height:11px;border-style:solid;border-width:0 2px}.fancybox-button--thumbs,.fancybox-thumbs{display:none}@media (min-width:800px){.fancybox-button--thumbs{display:inline-block}.fancybox-button--thumbs span{font-size:23px}.fancybox-button--thumbs:before{width:3px;height:3px;top:calc(50% - 2px);left:calc(50% - 2px);box-shadow:0 -4px 0,-4px -4px 0,4px -4px 0,inset 0 0 0 32px,-4px 0 0,4px 0 0,0 4px 0,-4px 4px 0,4px 4px 0}.fancybox-thumbs{position:absolute;top:0;right:0;bottom:0;left:auto;width:220px;margin:0;padding:5px 5px 0 0;background:#fff;word-break:normal;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;box-sizing:border-box;z-index:99995}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:220px}.fancybox-thumbs>ul{list-style:none;position:absolute;position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden;overflow-y:auto;font-size:0}.fancybox-thumbs>ul>li{float:left;overflow:hidden;max-width:50%;padding:0;margin:0;width:105px;height:75px;position:relative;cursor:pointer;outline:none;border:5px solid transparent;border-top-width:0;border-right-width:0;-webkit-tap-highlight-color:transparent;-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box}li.fancybox-thumbs-loading{background:rgba(0,0,0,.1)}.fancybox-thumbs>ul>li>img{position:absolute;top:0;left:0;min-width:100%;min-height:100%;max-width:none;max-height:none;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-thumbs>ul>li:before{content:"";position:absolute;top:0;right:0;bottom:0;left:0;border-radius:2px;border:4px solid #4ea7f9;z-index:99991;opacity:0;transition:all .2s cubic-bezier(.25,.46,.45,.94)}.fancybox-thumbs>ul>li.fancybox-thumbs-active:before{opacity:1}}