.news h3 a{
  color: #000 !important;
}  
.gal h3 a{
    text-transform: capitalize;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 30px;
    color: #333 ;
}
#section7 .item img {
    height: 206px;
    width: 150px;
}
.resize img {
    max-width: 618px !important;
    height: 100% !important;
} 
.mega_menu #menu.navbar-default {
    border: none;
    background: rgba(16, 39, 65, 0.9) !important;
    transition: background-color 1000ms ease-in;
}
#schd {
    padding: 0px 0px 40px !important;
}
#proc ul li a {
   margin: 0px 0px 0px 0px !important;
}          
#gallery {
    padding: 0px 0px 4px;
}
.fp-grid.filter-button-group a {
    display: block;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 2px 0px;
    color: #000;
    background: #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#views-exposed-form-procedures-block-5
.select-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    background: #e2e2e2;
    color: #000;
    padding: 9px 18px;
    cursor: pointer;
}
#views-exposed-form-procedures-block-5
.form-control {
    background: none !important; 
    background-image: none;
    border: none !important
}
section.sec-padding.faq-home {
    margin-bottom: 34px;
    border-radius: 0px;
}
span.text{
    background-color: #1f3853;
    color: #fff;
    border-top: 1px solid #ddd;
    margin: -1% 0% 0% 0%;
}
.faq-home .text{
    display: block;
    padding: 12px 30px;
    cursor: pointer;
}
.accrodion-grp.faq-accrodion .active {
    border-color: #ddd !important;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0;
}
h3.title.faq {
    text-transform: capitalize;
    margin: 0 0 40px 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 120%;
    color: #333;
}
.bef-exposed-form .form--inline > .form-item {
    float: left;
    width: 90%;
}
.form-item.js-form-item.form-type-radio.js-form-type-radio.form-item-field-procedures-tag-target-id.js-form-item-field-procedures-tag-target-id.radio {
    display: block;
    padding: 9px 15px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 0px;
    margin: 0px 0px 2px 0px;
    color: #000;
    background: #f1f1f1;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#section2 ul li a {
    margin: 4px 0px !important;
}
#section2 ul {
    margin: 4px 0px !important;
}
.block-views-blockpatient-info-block-1 .schd-info h2{
    font-size: 30px !important;
}
.accrodion-grp .accrodion-content p {
    padding: 3px 20px;
}
input#edit-field-procedures {
    display: none !important;
}
.mynavbar #menu{
    border: none;
    background: rgba(16, 39, 65, 0.9) !important;
}
.post-featured-image {
    width: 100%;
}
.post-featured-image img{
    max-width: 100%;
}
.the-post {
    padding: 35px 50px 50px;
}
.the-post .post-title {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.025em;
    line-height: 1.5;
}
.post-title > h2 a{
    line-height: 37px;
    margin: 0 0 18px;
    color: #191919;
    font-weight: 700;
}
.post-title > h2 a:hover {
    color: #19bc9b;
    text-shadow: none;
 }   
.post-meta-elements, .post-meta-elements a, .post-meta-elements .fa {
    font-size: 13px;
}
.post-meta-elements, .post-meta-elements a {
    color: #767676;
    display: inline-block;
}
.post_content {
    margin: 15px 0 0;
}
.readmore .btn {
    background: rgb(106, 104, 100) none repeat scroll 0 0;
    border-radius: 33px;
    border: 0;
    color: #fefefc;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 23px;
    margin: 0;
    padding: 5px 28px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    vertical-align: middle;
}
.readmore .btn:hover {
    background: #19bc9b;
    color: #fff;
    outline: 0;  
}
.meta-post-author, .meta-post-date, .meta-post-cat, .meta-post-commetns {
    display: inline-block;
    margin: 0 16px 0 0;
}
 .meta-post-author a:hover, .meta-post-date a:hover, .meta-post-cat a:hover, .meta-post-commetns a:hover{ 
    color: #19bc9b;
    text-shadow: none;
}
.grid-box {
    background: rgba(17, 37, 60, 0.06)none repeat scroll 0 0;
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 40px;
}
.path-node.page-node-type-page .view-id-blog.view-display-id-block_2 {
    background: rgba(17, 37, 60, 0.06)none repeat scroll 0 0;
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 32px 30px;
  }  
.path-node.page-node-type-page .view-id-blog.view-display-id-block_3 {
    background: rgba(17, 37, 60, 0.06)none repeat scroll 0 0;
    box-shadow: 0 1px 0 0 rgba(238, 238, 238, 0.6);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 40px;
    padding: 32px 30px;
}  
.path-node.page-node-type-page {
    padding: 30px 0px;
    margin: 0 0 40px;
}
.widgetbox {
    padding: 30px 33px;
    margin: 0 0 40px;
}
.sidebar_widget {
    margin: 0 0 50px;
    overflow: hidden;
}
.sidebar .sidebar-title {
    line-height: 1.7;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    z-index: 2;
}
.sidebar .sidebar-title h6{
   font-size: 16px;
}
.sidebar-title span {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #191919;
    border-radius: 33px;
    display: inline-block;
    line-height: 32px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700 !important;
}
em {
    font-style: italic;
    font-weight: 300;
}
.latest-post {
    margin: 0 0 26px;
    text-align: left;
}
.latest-post-img {
    display: inline-block;
    margin: 7px 4% 4px 0;
    vertical-align: top;
    width: 35%;
}
.latest-post-img img {
    max-width: 100%;
}
.latest-post-content {
    display: inline-block;
    width: 59%;
}
.latest-post {
    margin: 0 0 26px;
    text-align: left;
}
.latest-post-title h6 a{
    margin: 0 0 5px;
    font-size: 16px;
    line-height: 22px;
    color: #191919;
    font-weight: 700
}
h6.sidebar-title {
    line-height: 1.7;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    z-index: 2;
}
.psot_categories ul {
    padding: 0px;
    margin: 0px 10px;
}
.psot_categories li {
    list-style: none;
    padding: 0 0 0 35px;
    border-bottom: #ccc solid 1px;
}
.psot_categories ul li a {
    display: inline-block;
    line-height: 30px;
    padding: 8px 0;
    position: relative;
    color: #191919;
}
.psot_categories ul li a:hover {
    color: #19bc9b;
}
.psot_categories ul li a:after {
    position: absolute;
    left: -20px;
    top: 20px;
    width: 8px;
    height: 8px;
    content: "";
    background: #191919;
    border-radius: 0px;
}
.prod-list ul {
    margin: 0px;
    padding: 20px 0px;
}
.prod-list ul li {
    margin: 0px;
    padding: 0px;
    list-style-type: square;
    margin-left: 20px;
}
#review {
    background: #fff;
    padding: 60px 0;
}
#review h3 {
    font-size: 22px;
    margin: 0 0 20px 0;
}
#review h2 {
    position: relative;
}
#review .section-title h2::after {
    background: #ddd;
}
#review p {
    margin: 10px 0px 0px;
}
#review .review-text .item h2 {
    font-size: 20px;
    color: #11749e;
    margin-bottom: 10px;
}
.glyphicon { margin-right:5px;}
.review-content h4 { margin-top:0px; font-weight: bold; }
.review-content h4 { margin-top:0px;}
.review-content h4 a { font-size:20px; font-weight:bold; color: #2473ae; }
.review-rating .rating {
    padding: 20px 0px;
}
.review-content h4 span { font-size: 13px;
font-weight: normal;
color: #aeaeae;
float: right; }
.review-content .fa { color: gold }
.rating-review { padding-bottom: 0px; display: block; clear: both }
.review-content strong { font-size: 16px; padding-top: 10px; display: block; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
.review-user {
    text-align: center;
}
.review-user h4 {
    margin: 0px;
}
.review-user span {
    font-size: 12px;
    font-weight: normal;
    color: #aeaeae;
    display: block;
    padding: 5px 0px 0px;
} 
.review-user img {
    margin-bottom: 20px;
    margin-left: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.review .fa { color: gold; font-size: 16px; }
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
.well-sm {
    border-radius: 1px;
}
.well {
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #eaebeb;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.navbar-header-top-info p {
    font-size: 13.5px;
}
section#block-contactpopupblock a {
    display: none;
}
.procd {
    margin: 5% 5%;
}
h3.proce-cat-title a {
    font-size: 21px!important;
    font-weight: 500;
}
.ba-slider.proc-page img {
    height: 300px !important;
}

.proc-page.proc-before h3 {
    text-align: center;
}
.proc-page.proc-after h3{
    text-align: center;
}