

<div class="section" id="section3">
      <div class="container"> 
      <div id="physicians" class="row">
      <div class="col-md-12 text-center" id="pro4"> 
        <h2> {{ content.field_title.0 }}</h2>
        <p>{{ content.field_description.0 }}</p>
      </div>
    </div>   
      {{ content.field_view_field.0 }}
      </div>
      <style type="text/css">
#section3 {
  background: url('{{ content.field_banner_image.0 }}') no-repeat center center fixed;
  background-size:cover;
}
</style>
    </div> 