<div class="section" id="section2">
      <div class="container">
        <div class="col-md-5">
        </div>
        <div class="proc col-md-7">
          <h2>{{ content.field_title.0 }}</h2>
          <div class="row">
              {{ content.field_view_field.0 }}         
          </div>   
        </div>
      </div>
<style type="text/css">
#section2 {
  background: #0e1d54 url('{{ content.field_banner_image.0 }}') no-repeat center center fixed;
  background-size:cover;
}
</style>    
    </div>    