

<div class="section active" id="section1">
      <div class="container">
        <div class="row">    
        <div class="col-md-7 title">
          <h1>{{ content.field_title.0 }}</h1>
          <a href="{{ content.field_button_text.0['#url'] }}" class="btn btn-custom">{{ content.field_button_text.0['#title'] }}</a>
        </div>
        </div>
      </div>
      <style type="text/css">
#section1 {
  background: #0e1d54 url('{{ content.field_banner_image.0 }}') no-repeat center center fixed;
  background-size:cover;
}
</style>
    </div>


