
<div class="section" id="section4">
      <div class="container">
        <div class="row col-md-5">         
          <h2>{{ content.field_title.0 }}</h2>
          <p>{{ content.field_description.0 }}</p>
          <a href="{{ content.field_button_text.0['#url'] }}" class="btn btn-custom btn-cont">{{ content.field_button_text.0['#title'] }}</a>       
        </div>
      </div>
      
<style type="text/css">
#section4 {
  background: #0e1d54 url('{{ content.field_banner_image.0 }}') no-repeat center center fixed;
  background-size:cover;
}
</style> 
    </div>
   