

<div class="section" id="section8">
      <div class="video container">
        <div class="promo text-center">                     
          <a data-fancybox="" href="{{content.field_video_embed_url.0}}" class="vga"><div class="videoplay"><i class="fa fa-play-circle-o"></i><br />Play Video</div></a>
        </div>
      </div>
      <style type="text/css">
#section8 { 
 	background: transparent url('{{content.field_banner_image.0}}');
	background-size: cover;
	background-attachment: fixed;
}
</style>
    </div>