<div class="section" id="section9">
      <div class="footer container">
        <div class="col-md-12 map">
          {{ content.field_view_field.0 }}
        </div>
        <div class="col-md-12">    
          <div class="contact-item col-md-4">      
                <strong>CONTACT</strong><br />
                {% if content.field_address.0 is not empty %}
                    {{ content.field_address.0 }}
                {% endif %}      
          </div>
          <div class="contact-item col-md-4">
          {% if content.field_contact_no.0 is not empty %}
              <strong>CALL US NOW</strong><br />
                {{ content.field_contact_no.0 }}
              {% endif %}<br />                
              {% if content.field_fax_no.0 is not empty  %}
                 {{ content.field_fax_no.0 }}
              {% endif %}                   
          </div>
          <div class="contact-item col-md-4">
            <strong>FOLLOW US ON</strong><br />
              <ul class="social-network social-circle">
                  {% if content.field_facebook_url.0 is not empty %}
                  <li><a target="_blank" href="{{ content.field_facebook_url.0 }}" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  {% endif %}
                  {% if content.field_twitter_url.0 is not empty %}                        
                  <li><a target="_blank" href="{{ content.field_twitter_url.0 }}" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  {% endif %}
                  {% if content.field_youtube_url.0 is not empty %}                                                
                  <li><a target="_blank" href="{{ content.field_youtube_url.0 }}" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                  {% endif %}                        
              </ul>                    
          </div>
        </div>
      </div>
      <div class="copyright container text-center">
        <div class="col-md-12">
        <p>&copy; {{ content.field_copyrights.0}} <a href="{{ content.field_company_name.0['#url'] }}" target="_blank">{{ content.field_company_name.0['#title'] }}</a></p>
        </div>
      </div>
    </div>      