
  <div class="container">
    <div class="row">  
      <div class="col-md-3">
          <div class="fp-cont-wg col-md-12">      
            <h2>ADDRESS</h2>
                {% if address|render is not empty %}
                  {{ address }}
                {% endif %}
          </div>
          <div class="fp-cont-wg col-md-12">
            <h2>CONTACT NUMBERS</h2>
                 {% if telephone_no|render is not empty %}
                    {{ telephone_no }}
                 {% endif %} <br>
                 {% if fax_no|render is not empty %}
                     {{ fax_no }}
                 {% endif %} 
          </div>
          <div class="fp-cont-wg col-md-12">
            <h2>FOLLOW US ON</h2>
                {% if facebook_url|render is not empty %}
                  <a target="_blank" href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a>     
                {% endif %}

                {% if twitter_url|render is not empty %}
                  <a target="_blank" href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a>
                {% endif %}  

                {% if google_plus_url|render is not empty %}
                   <a target="_blank" href="{{ google_plus_url }}"><i class="fa fa-google-plus"></i></a>
                {% endif %} 

                {% if dribbble_url|render is not empty %}
                   <a target="_blank" href="{{ dribbble_url }}"><i class="fa fa-dribbble"></i></a> 
                {% endif %} 
     
                {% if youtube_url|render is not empty %}
                   <a target="_blank" href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a> 
                {% endif %}  

                {% if linkedin_url|render is not empty %}
                  <a target="_blank" href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a> 
                {% endif %}   

          </div>
      </div>
      <div class="col-md-9">
        {{ google_map }}
      </div>
    </div>     
  </div>
