<div class="patient_info_header_node">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{ patient_info_header }}
			</div>
		</div>
	</div>
</div>
<div class="patient_info_node">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						{{ patient_info }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>