<div class="gal col-md-12">        
  <h3 class="proce-cat-title">{{ node.label }}</h3>
  {% if content.field_before_treatment.0 %}
  <div class="row"><div class="col-md-6 proc-page proc-before">{{ content.field_before_treatment.0 }}
  <h3>Before<h3>
  </div>
  <div class="col-md-6 proc-page proc-after">{{ content.field_after_treatment_image.0 }}
  <h3>After</h3>
  </div>  
  {% endif %}        
  <div class="col-md-12"> <div class="prod-list">{{ content.body.0 }}</div> </div>             
</div>