<div class="section" id="section2">
  <div class="col-md-12 procedures">
    <div class="col-md-7"><h2 class="m_title">{{ title }}</h2>
    {{content.field_profile_picture1[0]}}</div>
    <div class="proc spt col-md-5">
      <div class="row">
          {{ procedures_page }}         
      </div>  
    </div>   
  </div>
</div>