<div class="section physician_info_node" >
    <div class="row">  
    <div class="col-md-3">
        <div class="fp-cont-wg col-md-12">      
          <h2>ADDRESS</h2>
              {% if address|render is not empty %}
                {{ address }}
              {% endif %}
        </div>
        <div class="fp-cont-wg col-md-12">
          <h2>CONTACT NUMBERS</h2>
               {% if telephone_no|render is not empty %}
                  {{ telephone_no }}
               {% endif %} <br>
               {% if fax_no|render is not empty %}
                   {{ fax_no }}
               {% endif %} 
        </div>
        <div class="fp-cont-wg col-md-12">
          <h2>FOLLOW US ON</h2>
            <ul class="social-network social-circle">
                {% if facebook_url|render is not empty %}
                <li><a target="_blank" href="{{ facebook_url }}" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                {% endif %}
                {% if twitter_url|render is not empty %}                        
                <li><a target="_blank" href="{{ twitter_url }}" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                {% endif %}
                {% if youtube_url|render is not empty %}                                                
                <li><a target="_blank" href="{{ youtube_url }}" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                {% endif %}                        
            </ul>
        </div>
    </div>
    <div class="col-md-5">
       {{ google_map }}
    </div>    
    <div class="col-md-4">
      {{ contact_form }}
    </div>     
  </div>