   <div class="row fp-cont">
      <div class="col-md-5 about-img">
        {{content.field_profile_picture1[0]}}
      </div>   
      <div class="col-md-7"> 
        {{content.body[0]}}
      </div>
    </div>