
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


	
          
                  
   <div class="latest-post">
        <div class="latest-post-img">
            <a href="#">{{ fields.field_image.content }}</a>
        </div>
        <div class="latest-post-content">
            <div class="latest-post-title"> 
                <h6>{{ fields.title.content }}</h6>
            </div>
            <div class="post-meta-elements">
                <div class="meta-post-cat">
                    <i class="fa fa-tags"></i>{{ fields.field_procedures_tag.content }}
                </div>
                <div class="meta-post-date">
                    <i class="fa fa-clock-o"></i> {{ fields.created.content }}
                </div>                
            </div>
        </div>
   </div>     
