
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}


	
          
                    <article class="standard-post-format grid-box">
                        <div class="post-featured-image">
                            <a href="#">{{ fields.field_image.content }} </a>
                        </div>
                        
                        <div class="the-post">
                            <div class="post-title">
                                <h2>{{ fields.title.content }}</h2>
                            </div>
                            <div class="post-meta-elements">
                                <div class="meta-post-author">
                                    <i class="fa fa-user"></i>{{ fields.uid.content }} 
                                </div>
                                <div class="meta-post-cat">
                                    <i class="fa fa-tags"></i>{{ fields.field_procedures_tag.content }}
                                </div>
                                <div class="meta-post-date">
                                    <i class="fa fa-clock-o"></i>{{ fields.created.content }}
                                </div>
                                <!-- <div class="meta-post-commetns">
                                    <i class="fa fa-comment-o"></i>Comments
                                </div> -->
                            </div>
                            <div class="post_content">
                                <p>{{ fields.body.content }}</p>
                                <div class="readmore">
                                   <a href="{{ path('entity.node.canonical', {'node': row.nid}) }}" class="btn">Continue Reading..</a>
                                </div>
                            </div>
                        </div>
                    </article>

                