{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
<div class="gal col-md-12">        
  <h3 class="proce-cat-title">{{ fields.title.content }}</h3>
  {% if fields.field_before_treatment.content %}
  <div class="row"><div class="col-md-6 proc-page proc-before">{{ fields.field_before_treatment.content }}
  <h3>Before<h3>
  </div>
  <div class="col-md-6 proc-page proc-after">{{ fields.field_after_treatment_image.content }}
  <h3>After</h3>
  </div>  
  {% endif %}        
  <div class="col-md-12"> <div class="prod-list">{{ fields.body.content }}</div> </div>             
</div>