{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

<section id="gallery">
  <div class="container">
    <div class="row">  
      <div class="col-md-3">  
        <div class="fp-grid filter-button-group" role="group" aria-label="filterImages">
          <div class="btn-group" role="group">
            <button type="button" class="btn active btn-default is-checked" data-filter="*">ALL PROCEDURES</button>
          </div>
          {% for result in view.result %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".blepharoplasty">{{ view.field.tag.value(view.result[loop.index-1]) }}</button>
          </div>
          {% endfor %}

          {% for row in rows %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".blepharoplasty">{{ view.field.tag.value(view.result[loop.index-1]) }}</button>
          </div>
          {% endfor %}

        </div>
      </div>
      <div class="col-md-9">
        <div class="grid">
          <div class="grid-sizer col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>

          </div>
        </div>
      </div>
    </div>     
  </div>
</section>        

