{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
<section id="gallery">
  <div class="container">
    <div class="row">  
      <div class="col-md-3">  
        <div class="fp-grid filter-button-group" role="group" aria-label="filterImages">
          <div class="btn-group" role="group">
            <button type="button" class="btn active btn-default is-checked" data-filter="*">ALL PROCEDURES</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".laser-resurfacing">LASER RESURFACING</button>
          </div>           
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".blepharoplasty">BLEPHAROPLASTY</button>
          </div>
          <!-- <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".brow-lift">BROW LIFT</button>
          </div> -->
          <!-- <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".ptosis">PTOSIS</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".enucleation">ENUCLEATION</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".eyelid-tumors">EYELID TUMORS</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".eyelid-deformities">EYELID DEFORMITIES</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".orbital-tumors">ORBITAL TUMORS</button>
          </div> -->
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".thyroid-eye-disease">THYROID EYE DISEASE</button>
          </div>
          <!-- <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".lacrimal-diseases">LACRIMAL DISEASES</button>
          </div> 
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".trauma">TRAUMA</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".facial-nerve-palsy">FACIAL NERVE PALSY</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".pseudotumor-cerebri">PSEUDOTUMOR CEREBRI</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".dry-eye-syndrome">DRY EYE SYNDROME</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".blepharospasm">BLEPHAROSPASM</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".orbital-fractures">ORBITAL FRACTURES</button>
          </div> -->
        </div>
      </div>
      <div class="col-md-9">
        <div class="grid">
          <div class="grid-sizer col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>
            <div class="col-xs-12 col-sm-6 col-md-12 grid-item blepharoplasty"><iframe width="100%" height="440" src="https://www.youtube.com/embed/CQ39P6XWRRE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
            <div class="col-xs-12 col-sm-6 col-md-12 grid-item laser-resurfacing"><iframe width="100%" height="440" src="https://www.youtube.com/embed/jgdCg9Tnfgk?rel=0&amp;showinfo=0&amp;start=5" frameborder="0" allowfullscreen></iframe></div>
            <div class="col-xs-12 col-sm-6 col-md-12 grid-item thyroid-eye-disease"><iframe width="100%" height="440" src="https://www.youtube.com/embed/svEVdO7YMtg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>                                                                     
          </div>
        </div>
      </div>
    </div>     
  </div>
</section>