{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

<section id="gallery">
  <div class="container">
    <div class="row">  
      <div class="col-md-3">  
        <div class="fp-grid filter-button-group" role="group" aria-label="filterImages">
          <div class="btn-group" role="group">
            <button type="button" class="btn active btn-default is-checked" data-filter="*">ALL PROCEDURES</button>
          </div>
          {% set arr = [] %}
          {% for result in view.result %}
          {% set a = view.field.name.value(view.result[loop.index-1]) %}
          {% if a is defined %}
          {% set arr = arr|merge({(a): (a)}) %}
          {% endif %}
          {% endfor %}
          {% for key, result in arr %}
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" data-filter=".{{ key|lower|replace({' ':'-'}) }}">{{ key }}</button>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="gal-grid-ft col-md-9">
        <div class="grid">
          <div class="grid-sizer col-xs-12 col-sm-6 col-md-4 col-lg-4"></div>
          {% for result in view.result %}
          {% set a = view.field.name.value(view.result[loop.index-1]) %}
          {% if a is defined %}
          {% set class = a|lower|replace({' ':'-'}) %}
          {% else %}
          {% set class = '' %}
          {% endif %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-3 grid-item {{ class }}"><a data-fancybox="" href="{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}"><img src="{{ file_url(view.field.uri.value(view.result[loop.index-1])) }}" class="img-responsive" /></a></div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>     
  </div>
</section>        

